{% extends "base.html" %}
{% load i18n crispy_forms_tags static %}

{% block meta %}
    <!-- NOTE(joshblum): This prevents leaking the password reset token via the
       Referer header to any 3rd party apps on the page. -->
    <meta name="referrer" content="origin">
{% endblock %}


{% block title %}Confirmar Recuperar Contraseña{% endblock %}

{% block content %}
    <div class="mt-3">
        <div class="text-center mb-3">
            <a href="/">
                <img height="200px" src="{% static "img/logo.png" %}" alt="logo"/>
            </a>
            <h3>Confirmar Recuperación de Contraseña</h3>
        </div>
        {% if validlink %}
            <div class="container form-signin">
                <p class="text-center">
                    {% blocktrans %}
                        Coloca la nueva contraseña que reemplazará la anterior
                    {% endblocktrans %}
                </p>
                <form method="post" action="">
                    <div class="m-3 text-center">
                        {% csrf_token %}
                        {{ form|crispy }}
                    </div>
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Recuperar Contraseña"/>
                </form>
            </div>
        {% else %}
            Recuperación de contrasella fallido. Porfavor
            <a href="{% url 'auth_password_reset' %}">intenta de nuevo.</a>
        {% endif %}
    </div>
{% endblock %}