$dr-amor-color_1 = red
$dr-amor-color_2 = #211915
$dr-amor-color_3 = white
$dr-amor-color_4 = #5B5B5F
$dr-amor-color_5 = #ECEDEF

.btn-primary
  background-color $dr-amor-color_1
  border-color $dr-amor-color_1

.btn-primary:hover
  background-color $dr-amor-color_2
  border-color $dr-amor-color_2

.tabla-maestra
  font-size 11px
  tbody
    .tr-seleccionado
      background-color black !important
      color white !important
    tr:hover
      background-color white !important
      color black !important

.boton-flotante
  position fixed
  right 30px
  bottom 40px
  cursor pointer
  :hover
    color red
  :active
    color green

form
  .btn
    font-size 0.8rem
    margin 0.4rem

.btn-limpiar
  background-color darkgray
  color white

.btn-guardar
  background-color black
  color white

.btn-cancelar
  background-color lightskyblue
  color white

.btn-eliminar
  background-color red
  color white

.puntero
  cursor pointer

.loading-overload-uno
  position relative

.loading-overload-dos
  &:before
    content ''
    background rgba(255, 255, 255, 0.5)
    width 100%
    height 100%
    opacity .9
    position absolute
    z-index 99

.loading-overload-tres
  border-radius 10px
  font-size 2rem
  position fixed
  text-align center
  top 50%
  left 50%
  transform translate(-50%, -50%)
  z-index 99
  background-color $dr-amor-color_1
  padding 0.5rem
  color white

.left-icon
  margin 0 0 0 12px !important

.right-icon
  margin 0 12px 0 0 !important

.boton-index
  a
    color $dr-amor-color_1
    :hover
      background-color black
      color white !important
      border 2px solid black !important
    :active
      text-decoration none
    :visit
      text-decoration none
    .icono
      border-radius 25px
      border 2px solid $dr-amor-color_1
      padding 1rem
      width 100%

.texto-cita
  font-size 10px
  position absolute
  color gray
  &.bottom
    bottom 0
  &.top
    top -5px
  &.right
    right 0px

.form-field-error
  position relative
  bottom 15px
  font-size 12px
  line-height 12px
  color rgb(244, 67, 54)
  transition all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms

.numeri-pad-react
  .btn
    background-color red
    color white
    width 100% !important
    height 100% !important
    font-size 2rem
    cursor pointer
    padding-top 0.5rem
    padding-bottom 0.5rem
  .btn-group
    padding 0.3rem

.cr-reg-acc
  .categoria
    margin 1rem
    .modelo-box
      padding 1rem
      text-align center
      margin 0.2rem
      &.est-mod-0
        background-color #4fce7f
      &.est-mod-1
        color white
        background-color red

$habitacion_estado_disponible = lightgreen
$habitacion_estado_ocupada = red
$habitacion_estado_sucia = yellow
$habitacion_estado_mantenimiento = black
.habitacion
  .servicio
    &.clock-0
      font-size 0.8rem
      .fa
        display none
    &.clock-1
      font-size 0.8rem
      .fa
        display none
  &.numero
    font-size 1.2rem
    font-weight bold
  &.est-0
    background-color $habitacion_estado_disponible !important
    color black !important
    &.icon
      background-color transparent !important
      color $habitacion_estado_disponible !important
  &.est-1
    background-color $habitacion_estado_ocupada !important
    color white !important
    &.icon
      background-color transparent !important
      color $habitacion_estado_ocupada !important
    .servicio
      &.clock-0
        color white !important
      &.clock-1
        color white !important

  &.est-2
    background-color $habitacion_estado_sucia !important
    color black !important
    &.icon
      background-color transparent !important
      color $habitacion_estado_sucia !important
    .servicio
      &.clock-0
        color black !important
      &.clock-1
        color black !important

  &.est-3
    background-color $habitacion_estado_mantenimiento !important
    color white !important
    &.icon
      background-color transparent !important
      color $habitacion_estado_mantenimiento !important
    .servicio
      &.clock-0
        color white !important
      &.clock-1
        color white !important

  &-tipo-list
    margin-top 3rem
    &-item
      padding 0.2rem
      border-radius 10px
  &-tipo-list:nth-child(even)
    border-left solid $rojo_dr_amor 1px

.servicio
  &.clock-0
    color green !important
    font-size 0.8rem
  &.clock-1
    color $rojo_dr_amor !important
    font-size 0.8rem
  &.servicio-list
    &-item
      margin-top 0.1rem
      margin-bottom 0.1rem
      background-color lightgreen
      border-radius 10px
      .btn
        cursor pointer
      .fa
        color black
      &.terminado
        color white
        background black
        .fa
          color white
      &.espera
        background lightskyblue
  &.servicio-modelo-nombre
    font-size 0.8rem
    padding-left 0.5rem
    padding-top 0.5rem

.blink_me
  animation blinker 1s linear infinite

@keyframes blinker
  50%
    opacity 0.4

.bubble
  position relative
  padding 3px
  margin-top 5px
  background transparent
  -webkit-border-radius 14px
  -moz-border-radius 14px
  border-radius 14px
  border #000000 solid 1px

.bubble:after
  content ''
  position absolute
  border-style solid
  border-width 0 5px 8px
  border-color #000000 transparent
  display block
  width 0
  z-index 1
  margin-left -5px
  top -8px
  left 20%

.bubble:before
  content ''
  position absolute
  border-style solid
  border-width 0 5px 8px
  border-color #000000 transparent
  display block
  width 0
  z-index 0
  margin-left -5px
  top -9px
  left 20%

.liquidacion_acompanantes
  td, th
    padding 4px
  table
    font-size 0.7rem

.ReactTable
  .rt-tr, .rt-td
    padding 0 !important
    margin 0 !important