{% load static l10n humanize number_to_word mathfilters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="font-size: 9px">
{% localize on %}
    {% with usuario=registro_entrada.punto_venta_turno.usuario.tercero.full_name_proxy punto_venta=registro_entrada.punto_venta_turno.punto_venta.nombre %}
        <h3 style="text-align: center">Factura de Venta
            Parqueadero {{ registro_entrada.vehiculo.tipo_vehiculo.empresa.nombre|title }}</h3>
        <span style="font-weight: bold">Placa: </span>{{ registro_entrada.vehiculo.placa }}<br/>
        <span style="font-weight: bold">Tipo de Vehículo: </span>{{ registro_entrada.vehiculo.tipo_vehiculo.nombre }}
        <br/>
        <span style="font-weight: bold">Hora de Ingreso: </span>{{ registro_entrada.hora_ingreso }}<br/>
        <span style="font-weight: bold">Hora de Pago: </span>{{ registro_entrada.hora_pago }}<br/>
        <span style="font-weight: bold">Generado por: </span>{{ usuario|title }}<br/>
        <span style="font-weight: bold">Id Registro: </span>{{ registro_entrada.id }}<br/>
        <br/>
        <br/>
        <span style="font-weight: bold">Valor antes de Impuestos: </span>$
        {{ registro_entrada.valor_parqueadero|floatformat:0 }}<br/>
        {% if registro_entrada.valor_iva_parqueadero %}
            <span style="font-weight: bold">Iva: </span>${{ registro_entrada.valor_iva_parqueadero|floatformat:0 }}<br/>
        {% endif %}
        {% if registro_entrada.valor_impuesto_unico %}
            <span style="font-weight: bold">Otro Impuesto: </span>$
            {{ registro_entrada.valor_impuesto_unico|floatformat:0 }}<br/>
        {% endif %}
        <span style="font-weight: bold">Valor Total: </span>${{ registro_entrada.valor_total|floatformat:0 }}<br/>
        <br/>
        <br/>
        <span style="font-weight: bold">Punto: </span>{{ punto_venta }}<br/>
        <span style="font-weight: bold">Fecha Impresión: </span>{% now "j \d\e F \d\e Y" %} a las
        {% now "H:i" %}<br/>
        <span style="font-weight: bold">Fecha Generación: </span>{{ registro_entrada.created }}<br/>
    {% endwith %}
{% endlocalize %}
</body>
</html>