{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block meta %}
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
    {% block css-libraries %}

    {% endblock %}

</head>
<body>

<script type="text/javascript">
    const img_static_url = '{% static 'img' %}';
</script>
{% block scripts_packages %}


{% endblock %}

{% block content %}

{% endblock %}
{% block js_libraries %}

{% endblock %}

</body>
</html>